.accordion {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__item {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid #eae9e8;

    &-button {
      font-size: 16px;
      font-weight: 700;
      z-index: 100;
      svg {
        cursor: pointer;
      }

      &.active {
        color: #e64926;
      }
    }
  }

  &__body {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;

    &-text {
      z-index: -1;
      margin-bottom: 15px;
    }

    &.active {
      max-height: 1000px; /* Adjust this value based on your content's maximum height */
      opacity: 1;
      transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
  }
}
