.catalog {
  padding: 8px 0 50px;

  &__content {
    margin-top: 15px;
    display: flex;
    gap: 20px;
  }

  &__right {
    width: 80%;
  }
  &__title {
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 25px */
    text-transform: uppercase;
  }
  &__main {
    margin-top: 45px;
  }
}
