.faq {
  &__content {
    display: flex;
    gap: 70px;
  }
  &__right {
    max-height: 405px;
    padding: 25px 28px;
    background-color: #eae9e8;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: start;

    .form__title {
      color: var(--5, #0f303f);
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
    }
    input:nth-child(1) {
      margin-top: 25px;
    }
    input {
      color: var(--5, #0f303f);
      font-size: 14px;
      padding: 3px 0;
      font-style: normal;
      font-weight: 400;
      line-height: 170%;
      border: none;
      border-bottom: 1px solid #254a5a;
      outline: none;
      width: 100%;
      background-color: transparent;
    }
    textarea {
      padding: 5px 10px;
      resize: none;
      margin-top: 15px;
      height: 100px;
      outline: none;
    }
    button {
      margin-top: 8px;
    }
  }

  &__title {
    color: var(--5, #0f303f);
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 25px */
    text-transform: uppercase;
    padding-top: 45px;
  }

  &__subtitle {
    color: var(--5, #0f303f);
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 25px */
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 15px;
  }
}
