.favorites,
.orders {
  &__content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-auto-rows: max-content;
    @media screen and (max-width: 550px) {
      & {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }
    }
  }
}
