@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600;700&family=Nunito+Sans:wght@300;600;900&display=swap');
@import 'home';
@import 'header';
@import 'BreadCrumbs';
@import 'catalog';
@import 'sideBar';
@import 'catalogMain';
@import 'catalogCard';
@import 'shoppingCard';
@import 'catalogFilter';
@import 'product';
@import 'footer';
@import 'shoppingContent';
@import 'button';
@import 'accordion';
@import 'faq';
@import 'notFoundFavorites';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Cormorant', serif;
}
html,
body,
#root {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}
footer {
  flex-shrink: 0;
}

.container-header {
  max-width: 1374px;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  max-width: 1374px;
  margin: 0 auto;
  padding: 0 20px;
  flex: 1 1 auto;
}
.container-small {
  max-width: 1137px;
  margin: 0 auto;
  padding: 0 20px;
}
.orders,.favorites {
  display: flex;
}